.my-node {
  opacity: 0.5 !important;
  fill: #eee;
}
.my-node:hover {
  opacity: 1.0 !important;
}

.my-node .label {
  opacity: 0.2;
  fill: #000 !important;
  text-align: left;
  z-index: 100;
}

.my-node:hover .label {
  opacity: 1.0;
}
